<link href="~/css/sizequery.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="madimi-one-regular font-size-h1 text-center my-5">TI PROTEGGEREMO NOI</h1>

<div class="d-flex justify-content-center">
    <img src="https://i.ytimg.com/vi/SBoN5zGazvA/sddefault.jpg" />
</div>
<p class="madimi-one-regular text-center my-5">CON NOI LA TUA PRIVACY E' AL SICURO</p>

